<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itheima.reggie.mapper.EmployeeMapper">

    <!-- Page<EmployeeDTO> selectPageVO(
    @Param("page") Page<EmployeeDTO> page,  @Param("employeeName") String employeeName);-->


    <select id="selectPageVO" resultType="com.itheima.reggie.dto.EmployeeDTO">
        SELECT id, username, name, phone, sex, id_number, status
            FROM employee
            <if test="employeeName != null">
                where (name like '%${employeeName}%')
            </if>
            ORDER BY update_time DESC
    </select>

</mapper>
